<footer class="footer">
  <div class="container">
    {% if site.author.socials %}
    <div class="socials">
      {% for link in site.author.socials %}
      <a href="{{link[1]}}" target="_blank" rel="noopener noreferrer">
        <i class="icon ion ion-logo-{{link[0]}}" name="{{link[0]}}"></i>
      </a>
      {% endfor %}
    </div>
    {% endif %}
    <div class="copyright">
      Copyright &copy; {{site.time | date: '%Y'}} {{site.author.name}}. All rights reserved.
    </div>
  </div>
</footer>