<div class="container">
  <div class="row">
    <div class="col col-12">
      <header class="header">
        <div>
          <a class="logo" href="{{site.baseurl}}/">
            {%if logo %}
            <img src="{{ site.baseurl }}/images/{{ logo }}" alt="{{ site.title }}">
            {% else %}
            {{ site.title }}
            {% endif %}
          </a>
        </div>
        <div>
          {% for link in site.author.socials %}
          <a href="{{ link[1] }}" target="_blank" rel="noopener noreferrer">
            <i class="icon ion ion-logo-{{link[0]}}" name="{{ link[0] }}"></i>
          </a>
          {% endfor %}
        </div>
        <div>
          <i class="icon nav-icon-search ion ion-md-search" aria-label="Search Icon"></i>
        </div>
        <div class="header-overlay"></div>
      </header>
    </div>
  </div>
</div>