<script src="{{site.baseurl}}/assets/scripts/common.js"></script>
<script src="{{site.baseurl}}/assets/scripts/instafeed.min.js"></script>
<script src="{{site.baseurl}}/assets/scripts/jquery-3.3.1.min.js"></script>
<script src="{{site.baseurl}}/assets/scripts/jquery.fitvids.js"></script>
<script>
  window.MathJax = {
    tex: {
      inlineMath: [
        ["$", "$"],
        ["\\(", "\\)"],
      ],
    },
    svg: { fontCache: "global" },
  };
</script>
<script
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"
  async
></script>
<script src="{{site.baseurl}}/assets/scripts/transition.js"></script>
<script src="{{site.baseurl}}/assets/scripts/zoom.min.js"></script>
