@use "sass:color";
@use "grid";
@use "variables";
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: variables.$base-font-family;
  font-size: variables.$base-font-size;
  line-height: variables.$base-line-height;
  color: variables.$text-color;
  background-color: variables.$background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  input,
  textarea {
    border: 1px solid variables.$border-color;
    outline: none;
    &:focus:required:invalid {
      border-color: #e02f40;
    }
    &:required:valid {
      border-color: #34a74e;
    }
  }
}
::placeholder {
  color: #666;
}
*::selection {
  color: variables.$white;
  background-color: variables.$dark;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$heading-font-family;
  line-height: initial;
  letter-spacing: 0.5px;
}
h1 {
  font-size: variables.$font-size-h1;
}
h2 {
  font-size: variables.$font-size-h2;
}
h3 {
  font-size: variables.$font-size-h3;
}
h4 {
  font-size: variables.$font-size-h4;
}
h5 {
  font-size: variables.$font-size-h5;
}
h6 {
  font-size: variables.$font-size-h6;
}
blockquote {
  margin: 1em 0;
  padding: 0.75em 1em;
  background-color: #f9f9f9;
  border-left: 4px solid #ccc;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  > :last-child {
    margin-bottom: 0;
  }
  @media only screen and (max-width: grid.$tablet) {
    margin: 1em 0;
    font-size: 1rem;
    line-height: 1.5;
  }
}
pre {
  overflow: auto;
  padding: 15px;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
img,
.zoom-img-wrap {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  & + em {
    text-align: center;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: variables.$gray;
  }
}
a {
  text-decoration: none;
  color: variables.$link-color;
  transition: variables.$global-transition;
  &:hover {
    color: color.adjust(variables.$link-color, $lightness: -10%);
  }
  &:active {
    color: color.adjust(variables.$link-color, $lightness: -20%);
  }
}
hr {
  display: block;
  height: 1px;
  margin: 40px 0;
  border: 0;
  background: variables.$light-gray;
}

