@use "variables";
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
body {
  background-color: var(--color-background-light);
  color: var(--color-text-light);
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  color: var(--color-text-link);
  text-decoration: none;
}
a strong {
  color: inherit;
}
a:hover,
a:focus {
  text-decoration: underline;
}
code,
pre {
  font-family: var(--font-mono);
  hyphens: none;
  overflow-wrap: normal;
  overflow-x: auto;
  overflow-y: hidden;
}
code {
  color: var(--color-text-code);
}
pre {
  -ms-overflow-style: none;
  cursor: pointer;
  display: block;
  line-height: normal;
  overflow-x: auto;
  scrollbar-width: none;
  white-space: pre;
}
pre::-webkit-scrollbar {
  display: none;
}
pre code {
  background: none;
  color: inherit;
}
pre:hover {
  box-shadow: var(--width-border) 0 var(--color-text-code);
}
pre.copied {
  box-shadow: var(--width-border) 0 var(--color-text-link);
}
blockquote {
  color: var(--color-text-muted);
  font-family: var(--font-quote);
  margin-bottom: 0;
  margin-top: 0;
}
ul,
ol {
  list-style-position: inside;
  margin-left: 0;
  padding-left: 0;
}
small {
  color: var(--color-text-muted);
}
img,
video,
iframe {
  border: none;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
figure {
  text-align: center;
}
figcaption {
  color: var(--color-text-muted);
  font-size: var(--font-size-caption);
}

