@use "variables";
.lead {
  font-family: var(--font-quote);
}
.content,
.container {
  margin: 0 auto;
  max-width: 100%;
  padding: var(--spacing-md);
}
.sidebar {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
  position: relative;
  text-align: center;
  width: 100%;
}
.sidebar a {
  color: var(--color-text-dark);
}
.sidebar-about h1 {
  font-family: var(--font-title);
  font-size: var(--font-size-title);
  margin: 0;
}
.sidebar-social {
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-social);
  justify-content: center;
}
.sidebar-social .social-link {
  display: flex;
  text-decoration: none;
}
.sidebar-social .social-link:hover {
  color: var(--color-text-washed);
}
.related-posts {
  list-style: none;
}
.related-posts li a {
  color: var(--color-text-light);
}
.related-posts li a:hover {
  color: var(--color-text-link);
}
.page-title,
.post-title {
  margin: 0;
}
.page-title a,
.post-title a {
  color: var(--color-text-light);
}
.post-date {
  color: var(--color-text-muted);
  display: block;
}
.pagination {
  color: var(--color-text-muted);
  overflow: hidden;
  text-align: center;
}
.pagination-item {
  display: block;
}
.youtube-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
.youtube-video iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.MathJax_Display,
.MathJax {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

