@use "mixins";
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.inline {
	display: inline;
}
.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.show {
	display: block;
}
.hide {
	display: none;
}
.invisible {
	visibility: hidden;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}
.list-reset {
	@include mixins.list-reset();
}
.clearfix {
	@include mixins.clearfix();
}
.screen-reader-text {
	@include mixins.screen-reader();
}