@use "variables";
@use "custom";
@media (min-width: 30rem) {
  .pagination {
    margin: var(--spacing-md) 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
  }
  .pagination-item:first-child {
    margin-bottom: 0;
  }
  .pagination-item:last-child {
    margin-left: 0;
  }
}
@media (min-width: 48rem) {
  .sidebar {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    padding: var(--spacing-md);
    position: fixed;
    text-align: left;
    top: 0;
    width: var(--width-sidebar);
    z-index: 1000;
  }
  .sidebar-sticky {
    position: static;
  }
  .sidebar-social {
    justify-content: left;
  }
  .content {
    margin-left: var(--width-sidebar);
    padding: var(--spacing-md) var(--spacing-lg);
  }
}
