@use "variables";
.highlight .hll {
  background-color: var(--syntax-bg-highlight);
}
.highlight .c {
  color: var(--syntax-comment);
}
.highlight .err {
  color: var(--syntax-error);
  background-color: var(--syntax-error-bg);
}
.highlight .k {
  color: var(--syntax-keyword);
}
.highlight .o {
  color: var(--syntax-operator);
}
.highlight .cm {
  color: var(--syntax-comment-multiline);
  font-style: italic;
}
.highlight .cp {
  color: var(--syntax-preprocessor);
}
.highlight .c1,
.highlight .cs {
  color: var(--syntax-comment);
}
.highlight .gd {
  background-color: var(--syntax-deleted-bg);
  border: var(--width-border) solid var(--syntax-deleted);
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: var(--syntax-error);
}
.highlight .gh {
  color: var(--syntax-generic-heading);
}
.highlight .gi {
  background-color: var(--syntax-inserted-bg);
  border: var(--width-border) solid var(--syntax-inserted);
}
.highlight .go {
  color: var(--syntax-generic-output);
}
.highlight .gp {
  color: var(--syntax-generic-prompt);
}
.highlight .gu {
  color: var(--syntax-generic-heading);
}
.highlight .gt {
  color: var(--syntax-generic-traceback);
}
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr {
  color: var(--syntax-keyword);
}
.highlight .kt {
  color: var(--syntax-keyword-type);
}
.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
  color: var(--syntax-number);
}
.highlight .s,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
  color: var(--syntax-string);
}
.highlight .na {
  color: var(--syntax-name-attribute);
}
.highlight .nb,
.highlight .bp {
  color: var(--syntax-name-builtin);
}
.highlight .nc {
  color: var(--syntax-name-class);
}
.highlight .no {
  color: var(--syntax-name-constant);
}
.highlight .nd,
.highlight .nl {
  color: var(--syntax-name-decorator);
}
.highlight .ni,
.highlight .w {
  color: var(--syntax-whitespace);
}
.highlight .ne {
  color: var(--syntax-name-entity);
}
.highlight .nf {
  color: var(--syntax-name-function);
}
.highlight .nn {
  color: var(--syntax-name-namespace);
}
.highlight .nt {
  color: var(--syntax-name-tag);
}
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: var(--syntax-name-variable);
}
.highlight .ow {
  color: var(--syntax-operator-word);
}
.highlight .sb,
.highlight .sc,
.highlight .sd {
  color: var(--syntax-string-doc);
  font-style: italic;
}
.highlight .si {
  color: var(--syntax-string-interpol);
}
.highlight .sr {
  color: var(--syntax-string-regex);
}
.highlight .ss {
  color: var(--syntax-string-symbol);
}
.highlight .il {
  color: var(--syntax-literal);
}
.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: var(--syntax-operator);
}

