:root {
  --syntax-bg-highlight: #ffffcc;
  --syntax-comment-multiline: #179299;
  --syntax-comment: #6c6f85;
  --syntax-deleted-bg: #fce7e7;
  --syntax-deleted: #d20f39;
  --syntax-error-bg: #fce7e7;
  --syntax-error: #d20f39;
  --syntax-generic-heading: #1e66f5;
  --syntax-generic-output: #6c6f85;
  --syntax-generic-prompt: #8839ef;
  --syntax-generic-traceback: #40a02b;
  --syntax-inserted-bg: #e8f5e8;
  --syntax-inserted: #40a02b;
  --syntax-keyword-type: #df8e1d;
  --syntax-keyword: #8839ef;
  --syntax-literal: #fe640b;
  --syntax-name-attribute: #1e66f5;
  --syntax-name-builtin: #179299;
  --syntax-name-class: #40a02b;
  --syntax-name-constant: #8839ef;
  --syntax-name-decorator: #8839ef;
  --syntax-name-entity: #d20f39;
  --syntax-name-function: #8839ef;
  --syntax-name-namespace: #179299;
  --syntax-name-tag: #1e66f5;
  --syntax-name-variable: #8839ef;
  --syntax-number: #fe640b;
  --syntax-operator-word: #8839ef;
  --syntax-operator: #04a5e5;
  --syntax-preprocessor: #40a02b;
  --syntax-string-doc: #d20f39;
  --syntax-string-interpol: #d20f39;
  --syntax-string-regex: #179299;
  --syntax-string-symbol: #df8e1d;
  --syntax-string: #d20f39;
  --syntax-whitespace: #9ca0b0;
  --color-background-dark: #222222;
  --color-background-light: #ffffff;
  --color-text-code: var(--syntax-string);
  --color-text-dark: #dddddd;
  --color-text-light: #333333;
  --color-text-link: var(--syntax-string-regex);
  --color-text-muted: #444444;
  --color-text-washed: #eeeeee;
  --font-mono: "Ubuntu Sans Mono", monospace;
  --font-quote: "Fuzzy Bubbles", cursive;
  --font-sans: "Ubuntu Sans", sans-serif;
  --font-title: "Monomakh", serif;
  --font-size-base: 1rem;
  --font-size-caption: 0.8rem;
  --font-size-social: 2rem;
  --font-size-title: 3rem;
  --line-height-base: 1.5;
  --line-height-code: 1.4;
  --spacing-xs: 0.1rem;
  --spacing-sm: 0.25rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 1rem;
  --width-border: var(--spacing-xs);
  --width-sidebar: 16rem;
}
@media (min-width: 48rem) {
  :root {
    --font-size-base: 1.15rem;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --syntax-bg-highlight: #45475a;
    --syntax-comment-multiline: #94e2d5;
    --syntax-comment: #6c7086;
    --syntax-deleted-bg: #302d41;
    --syntax-deleted: #f38ba8;
    --syntax-error-bg: #302d41;
    --syntax-error: #f38ba8;
    --syntax-generic-heading: #89b4fa;
    --syntax-generic-output: #6c7086;
    --syntax-generic-prompt: #cba6f7;
    --syntax-generic-traceback: #a6e3a1;
    --syntax-inserted-bg: #1e2d3d;
    --syntax-inserted: #a6e3a1;
    --syntax-keyword-type: #f9e2af;
    --syntax-keyword: #cba6f7;
    --syntax-literal: #fab387;
    --syntax-name-attribute: #89b4fa;
    --syntax-name-builtin: #94e2d5;
    --syntax-name-class: #a6e3a1;
    --syntax-name-constant: #cba6f7;
    --syntax-name-decorator: #f2cdcd;
    --syntax-name-entity: #f38ba8;
    --syntax-name-function: #89b4fa;
    --syntax-name-namespace: #94e2d5;
    --syntax-name-tag: #89b4fa;
    --syntax-name-variable: #cba6f7;
    --syntax-number: #fab387;
    --syntax-operator-word: #cba6f7;
    --syntax-operator: #89dceb;
    --syntax-preprocessor: #a6e3a1;
    --syntax-string-doc: #f38ba8;
    --syntax-string-interpol: #f38ba8;
    --syntax-string-regex: #94e2d5;
    --syntax-string-symbol: #f9e2af;
    --syntax-string: #f38ba8;
    --syntax-whitespace: #585b70;
    --color-background-dark: #111111;
    --color-background-light: #222222;
    --color-text-code: var(--syntax-string);
    --color-text-dark: #cccccc;
    --color-text-light: #dddddd;
    --color-text-link: var(--syntax-string-regex);
    --color-text-muted: #bbbbbb;
    --color-text-washed: #eeeeee;
  }
}
